input[type="number"] {
  width: 4em;
}

.previewImg,
.imgOptions {
  display: inline-block;
  vertical-align: middle;
}

#interface {
  padding: 1em;
}

.set>*:nth-child(2n+1) {
  background: rgba(150, 150, 150, 0.1);
}

.set>*:nth-child(2n) {
  background: rgba(50, 50, 50, 0.1);
}

.set {
  margin: 0.5em;
  padding: 0.25em;
}

.set>* {
  margin: 1em 0.5em;
}

legend {
  padding: 0.25em 0.25em;
}