html,
body,
div.wrap,
main {
  height: 100%;
  margin: 0;
  padding: 0;
}

input[type="number"] {
  width: 4em;
}

.previewImg,
.imgOptions {
  display: inline-block;
  vertical-align: middle;
}

#interface {
  right: 0;
  background-color: rgba(240, 240, 240, 1);
  padding: 0 1em;
}

.inline {
  position: fixed;
  display: inline-block;
  vertical-align: top;
  width: 48%;
  height: 100%;
  overflow: auto;
}

.leftwrap {
  left: 0;
  text-align: center;
}

.set>*:nth-child(2n+1) {
  background: rgba(150, 150, 150, 0.1);
}

.set>*:nth-child(2n) {
  background: rgba(50, 50, 50, 0.1);
}

.set {
  margin: 0.5em;
  padding: 0.25em;
}

.set>* {
  margin: 1em 0.5em;
}

legend {
  padding: 0.25em 0.25em;
}

fieldset>* {
  margin: 0 0 0.75em 0;
}

textarea {
  resize: none;
  width: 95%;
}

#canvas {
  padding: 2em;
}

canvas {
  background-image: url(img/canvas.png);
  border: 1px solid rgba(50, 50, 50, 0.2);
}